/* Global */
@font-face {
    font-family: 'BebasRegular';
    src: url('font/BEBAS___-webfont.eot');
    src: url('font/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BEBAS___-webfont.woff') format('woff'),
         url('font/BEBAS___-webfont.ttf') format('truetype'),
         url('font/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a{
  color: #C664CE;
}
img{
  width: 100%;
}
html,body{
	width:100%;
	height:100%;
  padding: 0px 0px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
h1{
  font-family: 'BebasRegular';
  font-weight: normal;
  font-size: 42px;
  text-transform: uppercase;
  word-spacing: 16px;
  letter-spacing: 1px;
}
h2{
  color: #5b5b5b;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}
li{
  color: white;
  opacity: .95;
}
footer{
  height: 200px;
  background-color: #404040;
}
.container{
  width: 100%;
  padding: 0px 0px 0px 0px;
}
.row{
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.navbar{
  background-color: white;
  height: 90px;
}
.nav{
  padding: 20px 0 0 0;
}
.navbar-right{
  padding-right: 40px;
}

#callout {
  background-color: #F15C46;
  color: white;
  border-color: white;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 1.5vh;
  text-align: center;
  font-size: 18px;
  position: relative;
  margin-top: 85px;
  margin-bottom: -130px;
}

#callout a{
  background-color: transparent;
  color: white;
  font-weight: bold;
  margin-left: 2vh;
}

#callout a:hover {
  color: #ED5C62;
  background-color: white;
  border-color: white;
}

.sec-title{
  color: white;
  font-size: 40px;
  font-weight: 800;
  padding: 0 0 0 0;

}
.sec-title-dark{
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 800;
  padding: 0 0 0 0;

}
.sec-title-2{
  color: #4BADA2;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.sec-title-2-dark{
  color: #3d3d3d;
  opacity: .95;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.sec-text{
  color: white;
  text-align: center;
  padding: 20px 320px 20px 320px;
  font-size: 22px;
  font-weight: 400;
}
.sec-text-j{
  color: white;
  text-align: justify;
  padding: 20px 280px 20px 280px;
  font-size: 22px;
  font-weight: 400;
}
.sec-text-general{
  color: white;
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-size: 22px;
  font-weight: 400;
}
.sec-text-general-l{
  color: white;
  text-align: left;
  padding: 20px 50px 20px 60px;
  font-size: 22px;
  font-weight: 400;
}
.sec-text-general-r{
  color: white;
  text-align: right;
  padding: 20px 70px 20px 40px;
  font-size: 22px;
  font-weight: 400;
}
.sec-text-small{
  color: white;
  text-align: center;
  padding: 30px 0px 10px 0px;
  font-size: 14px;
  font-weight: normal;
}
.sec-text-small-r{
  color: white;
  text-align: right;
  padding: 30px 0px 10px 0px;
  font-size: 14px;
  font-weight: normal;
}
.sec-text-small-l{
  color: white;
  text-align: left;
  padding: 30px 0px 10px 0px;
  font-size: 14px;
  font-weight: normal;
}
.sec-text-dark{
  color: #3d3d3d;
  text-align: center;
  padding: 20px 320px 20px 320px;
  font-size: 22px;
  font-weight: 400;
}
.par-title{
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: .95;
}
.sent-title{
  font-weight: bold;
  color: white;
  opacity: .95;
}
.number{
  font-weight: bold;
  color: #3d3d3d;
}
.number-large{
  color: white;
  font-weight: 600;
  font-size: 62px;
  padding: 0 20px 0 0;
  float: left;
  margin: 0px 0px 130px 0px;
}
.img-light{
  color: #CFDCF2;
  padding-bottom: 6px;
}
.img-small{
  color: white;
  padding: 6px 20px 6px 0;
  margin: 0px 0px 80px 0px;
  float: left;
}
.img-xsmall{
  color: white;
  padding: 6px 20px 6px 0;
  margin: 0px 0px 0px 0px;
  float: left;
}
.img-dark{
  color: #3d3d3d;
  padding-bottom: 6px;
}
#logo{
  padding-left: 40px;
}

/* Section 1 */
.main-menu-imgs{
  width: 60%;
}
.main-img{
  padding: 0 0 20px 0;
}
.btn-donate {
  background-color: transparent;
  border-color: #4BADA2;
  border-width: 2px;
  text-decoration: none;
  color: #4BADA2 !important;
  font-size: 14px;
  padding-top: 1vh !important;
  padding-bottom: 1vh !important;
  margin-top: 1vh !important;
  font-weight: 800;
}
.btn-donate:hover {
  background-color: #4BADA2 !important;
  color: white !important;
}
#paypal{
  width: 2%;
}
#paypal-form{
  padding: 14px 15px 0 0;
}
#main-sec{
  padding: 60px 0 0 0px;
  width: 100%;
}
#sec-1{
  background-color: #f0f0f0;
  width: 100%;
  height: 966px;
  padding: 140px 0 0 0;
}
#main-heading{
  text-align: center;
  width: 100%;
  color: #5b5b5b;
  padding: 20px 0 0 0;
}
#main-menu{
  padding: 60px 0 0 0;
  text-align: center;
}

/* Section 2 */
#about-us{
  background-image: url(../img/top-image-1.png);
  background-position: center;
  height: 200px;
}
#sec-5{
  background-color: #3F6682;
  height: 1280px;
}
.main-border {
  width: 100px;
  border-bottom: 2px solid #E3866F;
  margin: 0px auto;
  margin-bottom: 25px;
}
.title{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  margin: 0 0 0 0;
}
#core-values{
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

/* Section 3 */
#sec-6{
  background-color: #3F6682;
  height: 1520px;
}
#partner{
  background-image: url(../img/top-image-2.png);
  background-position: center;
  height: 200px;
}

/* Section 4 */
#sec-7{
    background-color: #3F6682;
    /*height: 1180px; sylvester why*/
    padding-bottom: 15vh;
}
#programs{
  background-image: url(../img/top-image-3.png);
  background-position: center;
  height: 200px;
}

/* Section 5 */
#sec-2{
    background-color: #3F6682;
    height: 2800px;
}
#parents{
  background-image: url(../img/top-image-4.png);
  background-position: center;
  height: 200px;
}
.reg-img{
  width: 60%;
}
.reg-sec{
  text-align: center;
}
#reg-btn{
  background-color: transparent;
  border-color: white;
  color: white;
  font-size: 16px;
}

/* Section 6 */
#sec-3{
    background-color: #ECF0F1;
    height: 2020px;
}
#volunteers{
  background-image: url(../img/top-image-5.png);
  background-position: center;
  height: 200px;
}

#reg-btn-dark{
  background-color: transparent;
  border-color: #3d3d3d;
  color: #3d3d3d;
  font-size: 16px;
}

/* Section 7 */
#sec-4{
    background-color: #3F6682;
    height: 1020px;
}
#educators{
  background-image: url(../img/top-image-6.png);
  background-position: center;
  height: 200px;
}

/* Section 8 */
#sec-8{
    background-color: white;
    height: 1220px;
}
#contact{
  background-image: url(../img/top-image-7.png);
  background-position: center;
  height: 200px;
}

/* Footer */
#social{
  text-align: center;
  color: white;
  padding: 10px 0 0 0;
}
.footer-text{
  color: white;
}
.social-icons{
  padding: 0 10px 0 0;
}
