body {
  width:100%;
	height:100%;
  padding: 0;
}

.noSpace {
  margin: 0;
  padding: 0;
}

#broughtBy {
  background-color: #044059;
  color: white;
  text-align: center;
}

#broughtBy img, #broughtBy p {
  display: inline;
}

#code{
  background-color: #2A85BC;
  color: white;
  text-align: center;
}

#schedule {
  background-color: white;
  color: #044059;
}

#scheduleImg {
  min-height: 100%;
}

#rules {
  background-color: #ED5B60;
  color: white;
}

#compFooter {
  background-color: #044059;
}
