body {
  width:100%;
	height:100%;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3.2em;
}

.noSpace {
  margin: 0;
  padding: 0;
}

.blue {
  color: #2A85BC;
}

.red{
  color: #ED5B60;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 400;
}

#navContainer {
  color: white;
  text-transform: uppercase;
  padding-top: 10vh;
  padding-left: 2em;
}

#navContainer a{
  color: white;
  text-decoration: none;
  font-style: italic;
}

#navContainer a:hover{
  color: #ED5B60;
}

#header{
  text-align: center;
  padding-bottom: 5vh;
  height: 50vh;
  /*background-image: url("../img/comp/ctrl.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 50vh;*/
}

#headerText {
  /*position: absolute;*/
  z-index: 5;
  /*padding-top: 29vh;*/
}

#imgContainer {
  height: inherit;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../img/comp/ctrl.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 80%;
}

#headerImg {
  height: 100%;
}

#broughtBy {
  background-color: #044059;
  color: white;
  text-align: center;
  height: 12vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#broughtBy img, #broughtBy p {
  display: inline;
}

#code{
  background-color: #2A85BC;
  color: white;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 1.25em;
  padding-left: 10%;
  padding-right: 10%;
}

#code h1 {
  font-size: 2.5em;
}
#code h3 {
  font-size: 1.25em;
}

#prizes {
  width: 60%;
  margin: 0 auto;
}

#prize2 {
  max-width: 100%;
  max-height: 20vh;
  color: white;
}

#schedule {
  background-color: white;
  color: #044059;
  font-weight: 600;
  font-size: .875em;
}

#dates {
  font-size: 1.3em;
}

#dates .row, #dates .col{
  padding: 0;
  margin-top: -1vh;
}

#scheduleImg {
  background-image: url("../img/comp/twogirls_laptop.png");
  background-position: left bottom;
  background-size: cover;
}

#downloadLink {
  color: #ED5B60;
  text-decoration: none;
  font-weight: bold;
}

.brandButton {
  background-color: #ED5B60;
  color: white;
  border-radius: 0;
  border-color: #ED5B60;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 1em;
  padding-left: 1em;
}

.brandButton:hover {
  background-color: #2A85BC;
  border-color: #2A85BC;
}


#rules {
  background-color: #ED5B60;
  color: white;
  font-size: 1em;
  font-weight: normal;
  padding-left: 4em;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

#rules h1 {
  font-size: 4.5em;
  line-height: .9;
}

#rules a {
  text-decoration: underline;
  color: white;

}

#register {
  padding-left: 4em;
  padding-bottom: 5vh;
  margin-top: 10vh;
}

#register h1{
  font-size: 4.5em;
  line-height: .9;
}

#compFooter {
  background-color: #044059;
  color: white;
  text-align: center;
  padding-bottom: 1vh;
  padding-top: 5vh;
  font-size: 1em;
}

#compFooter input{
  font-size: large;
}

#fsForm2970113 .form-control {
  background-color: #F0F0F0;
  border-radius: 0;
  color: #242423;

}

#identity {
  display: none;
}

#members {
  display: none;
}

#makedo {
  position: relative;
  top: -10vh;
}

#makedo img {
  display: block;
  margin: 0 auto;
  max-height: 55vh;
}

#makedoText {
  text-align: center;
  z-index: 3;
  position: relative;
  margin-top: -22vh;
  color: #044059;
}

@media (max-width: 767.98px) {
  #makedoText {
    margin-top: -18vh;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #rules {
    padding-left: 0;
    margin-left: 0;
  }
  #ruleCol {
    padding-left: 0;
    margin-left: 0;
  }
  #rules h1 {
    padding-left: .5em;
    font-size: 3em;
  }
  #register {
    padding-left: .5em;
  }
  #register h1 {
    font-size: 3em;
  }
  #ruleList {
    padding-left: 1em;
  }
  #dates {
    padding-left: 0;
  }
}
